<!--
░█▀▀░█▀▄░█▀▀░█▀█░▀█▀░█▀▀░░░█▀▀░█▀▄░█▀█░█░█░█▀█░░░█▀█░█▀█░█▀▀░█▀▀
░█░░░█▀▄░█▀▀░█▀█░░█░░█▀▀░░░█░█░█▀▄░█░█░█░█░█▀▀░░░█▀▀░█▀█░█░█░█▀▀
░▀▀▀░▀░▀░▀▀▀░▀░▀░░▀░░▀▀▀░░░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀░░░░░▀░░░▀░▀░▀▀▀░▀▀▀
Contributor(s): AndrewC, Victor C, 
Version: 1.4.0
Documentation page: http://bedev.playdate.surge.sh/docs.html
Description: This page needs a lot of cleanup. Initially it was functional but someone carelessly pasted their code into the bottom part.
There were 2 body tags, 4 load-static tags, other duplicates. As of now the invalid code has been commented out but in future iterations they need
to be deleted.

The rewritten code serves as referential material for future work.
In order to style form elements please refer to forms.py where attributes such as styling and placeholders can be edited.
-->
{% load static %}{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Create Group</title>
</head>

<body style="background-color: #9de2ff">
    {% if user.is_authenticated %} {% load static %} {% include "registered_navbar.html" %} {% else %} {% load static %}
    {% include "general_navbar.html" %} {% endif %}

    <!--This h4 tag becomes covered by the navbar and does not show.
        <h4 class="logo navbar-brand text-center">
            <b>Create Your Group:</b>
        </h4>
        -->
    <div class="wrapper">
        <!--FIX-THIS: The top border is cut-off by the navbar-->
        <div class="card mx-auto my-2" style="padding-top: 5vh; border: solid blue; width: 40%">
            {% if regUser.is_verified %}
            <div class="card-body">
                <h1 style="text-align: center"><strong>Create a Group!</strong></h1>
                <form class="register" enctype="multipart/form-data" style="align-items: center;" method="POST">
                    {% csrf_token %}
                    <label for="group name">Group Name:</label>
                    {{createGroupForm.group_name}}
                    <label for="group desc">Group Description:</label>
                    {{createGroupForm.group_desc}}
                    <br />
                    <br />
                    <label for="group tags">Keywords:</label>
                    <p>
                        <small>• Enter some keywords to help users find your group.<br />• Keywords should be separated
                            by pressing the spacebar.</small>
                    </p>
                    <p><small></small></p>
                    <!-- tags -->
                    <label id="tag"> <b>Tags</b></label><br>
                    <div class="tag-container">
                        <input placeholder="add tags..." class="input" />
                    </div>
                    </label><br>
                    <!-- {{createGroupForm.tags}} -->

                    <label for="banner">(optional) Upload a banner!</label>
                    <br />
                    {{createGroupForm.banner}}
                    <button style="margin-left: 60%; margin-top: 1vh;" class="btn btn-primary pt-2">Create
                        Group</button>
                </form>
            </div>
            {% elif not user.is_authenticated %}
            <div class="card-body">
                <h1 style="text-align: center">You need to be logged in and verified to create a group!</h1>
                <h4 style="text-align: center"><a href="/register/">🐱Register here!</a>•Already registered?•<a
                        href="/login/">Login Here!🐱</a></h4>
            </div>
            {% elif user.is_authenticated and regUser.is_verified != True %}
            <div class="card-body">
                <h1 style="text-align: center">You need to be verified to create a group!</h1>
                <h4 style="text-align: center"><a href="/profile/">🐱Upload Verification Here!</a><br />•Already
                    Uploaded?• Wait for an admin to verify your account!🐱</h4>
            </div>
            {% endif %}
        </div>

    </div>
    {% include "footer.html" %}
</body>

</html>
<style>
    .tags {
        width: 60%;
        margin: 40px;
    }

    .tag-container {
        border: 2px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        overflow: scroll;
    }

    .tag-container .tag {
        padding: 5px;
        border: 1px solid #ccc;
        margin: 5px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        background: #f2f2f2;
    }

    .close {
        font-size: 16px;
        margin-left: 5px;
    }

    .tag-container input {
        flex: 1;
        font-size: 16px;
        padding: 5px;
        outline: none;
        border: 0;
        padding-bottom: 20px;
    }
</style>
<script>
    //for tags input box
    const tagContainer = document.querySelector(".tag-container");
    const input = document.querySelector(".tag-container input");
    var tags = [];

    function createTag(label) {
        const div = document.createElement("div");
        div.setAttribute('class', 'tag');
        const span = document.createElement('span');
        span.innerHTML = label;
        const closeBtn = document.createElement('button');
        closeBtn.setAttribute('class', 'close');
        closeBtn.setAttribute('data-item', label);
        closeBtn.innerHTML = "x";

        div.appendChild(span);
        div.appendChild(closeBtn);

        return div;
    }
    function reset() {

    }
    //reset so the input is not duplicated 
    function reset() {
        document.querySelectorAll(".tag").forEach(function (tag) {
            tag.parentElement.removeChild(tag);
        })
    }
    //add tags to array
    function addTags() {
        reset();
        tags.slice().reverse().forEach(function (tag) {
            const input = createTag(tag);
            tagContainer.prepend(input);
        })
    }
    //tiggers add tag when spacebar is hit and resets input value
    input.addEventListener('keyup', function (e) {
        if (e.key === " ") {
            tags.push(input.value);
            addTags();
            input.value = " ";
        }
    })
    //remove tags
    document.addEventListener("click", function (e) {
        const value = e.target.getAttribute('data-item');
        const index = tags.indexOf(value);
        tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
        addTags();

    })

</script>
<!--
▄▖▄▖▄▖▖▖▄▖▖▖▄▖▄   ▄▖▄▖▄ ▄▖
▌▌▙▘▌ ▙▌▐ ▌▌▙▖▌▌  ▌ ▌▌▌▌▙▖
▛▌▌▌▙▖▌▌▟▖▚▘▙▖▙▘  ▙▖▙▌▙▘▙▖
The code commented below are previous versions deemed for prototype use or are not functional but 
may contain components that can be reused.
-->

<!--Static Form for horizontal prototype
Original functional form was overwritten
-->

<!--
<label for="groupname"><b>Group Name</b> </label><br>
<input type="text" name="groupname" id="groupname" autofocus /><br>
<label for="description"><b>Description</b> </label><br>
<textarea name="description" id="description" ></textarea><br>
<label for="name">
    <b>Select an image</b>
</label>
<input type="file" id="file-input" accept="image/*" /><br>
<br>
<a class="col" href="/createdGroup">
</a>
-->