{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Group Search</title>
    </head>
    <body>
        {% block content %} {% if user.is_authenticated %} {% load static %} {% include "registered_navbar.html" %}
        {%else%} {% load static %} {% include "general_navbar.html" %} {% endif %} {% if user.is_authenticated %}

        <div class="searchBar" style="position: absolute; top: 20%; left: 40%">
            <h1>Search!</h1>
            <form method="GET">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search.." />
                <button class="btn btn-primary me-4" type="submit">Search</button>
                <a href="/groups/createGroup" class="btn btn-primary me-1" style="width: 10rem">Create a Group!</a>
            </form>
        </div>
        {% if groups %}
        <div class="results" style="position: absolute; top: 30%; left: 40%">
            {% for group in groups %}
            <ul>
                <li>
                    <a href="{% url 'groupView' group_id=group.group_id %}">{{group.group_name}}</a>
                </li>
            </ul>

            {% endfor %}
        </div>
        {% endif %} {% else %}
        <div
            class="notLoggedIn"
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 5px dotted blue"
        >
            <h1>You need to be logged in to search!</h1>
            <h4 style="text-align: center">
                <a href="/register/">🐱Register here!</a>•Already registered?•<a href="/login/">Login Here!🐱</a>
            </h4>
        </div>

        {% endif %}{% include "footer.html" %} {% endblock %}
    </body>
</html>
