<!--
░█▄█░█▀█░▀█▀░█▀█░░░█▀▀░█▀▄░█▀█░█░█░█▀█░░░█▀█░█▀█░█▀▀░█▀▀
░█░█░█▀█░░█░░█░█░░░█░█░█▀▄░█░█░█░█░█▀▀░░░█▀▀░█▀█░█░█░█▀▀
░▀░▀░▀░▀░▀▀▀░▀░▀░░░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀░░░░░▀░░░▀░▀░▀▀▀░▀▀▀

Contributor(s): AndrewC, 
Version: 1.8.3
Documentation page: http://bedev.playdate.surge.sh/docs.html
Description: This is the groups page. It is a huge html file because it is dynamic and encompasses cases where the user is not logged in, the user is not a member, and where the user is a member
The django data elements are stored in the context as well as in the session data within requests.
-->

{% load static %}{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">CREATE DATABASE playdate;

<head>
    <meta charset="UTF-8" />
    <title>Group View Testing</title>
</head>

<body style="background-color: #7ecae6;">
    <!--🐱Navbar Content🐱-->
    {% block content %} {% if user.is_authenticated %} {% load static %} {% include "registered_navbar.html" %} {%else%}
    {% load static %} {% include "general_navbar.html" %} {% endif %} {% endblock %} <br>

    <div class="wrapper mt-5">
        <div class="row">
            <div class="col-lg-4" style="margin-left:8vw">
                <div class="card">
                    <div class="card-header">Group Image</div>
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if group.banner.url != None %}
                            <img src="{{group.banner.url}}" style="width: 20vw; height: 20vh" alt="" />
                            {% else %}
                            <img src="/media/publicevents_banner/default.jpeg" style="width: 100vw; height: 20vh"
                                alt="" />
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Group Info</div>
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <span class="groupName" style="text-align: center"> <b>Group name:
                                </b>{{group.group_name}}</span>
                            <span class="groupName" style="text-align: center"> <b>Group Admin: </b>
                                {{group.group_admin}}</span>

                            <p style="text-align: center"><b>Group size:</b> {{member_list|length}} people</p>
                            <span class="groupName" style="text-align: center"><b>Created on: </b>{{group.create_date}}
                            </span>
                            <p style="text-align: center"><b>Keywords: </b><i>{% if group.tags.all %}
                                    {% for tag in group.tags.all %} {{tag}} {% endfor %}
                                    {% else %} No Keywords
                                    {%endif %}</i></p>
                            {% if user.is_authenticated and isMember == False %}
                            {% if regUser %}
                            <form method="POST">
                                {% csrf_token %} <button name="joinGroup" class="btn btn-primary me-1"
                                    style="width: 10rem; text-align: center" aria-current="true" type="submit"><i
                                        class="fas fa-lock fa-fw me-3"></i><span>Join Group</span></button>
                            </form>
                            {% else %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                Join Group
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">You're not Verified!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Sorry, it seems you're not verified yet!<br>
                                            Please go to your <a href="/profile">Profile</a> to upload your
                                            identification photo for
                                            verification!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endif %}
                            {% endif %}
                            <form method="POST">
                                {% csrf_token %}
                                <span style="display: flex; justify-content: space-between;">
                                    <button name="newGroupEvent"
                                        class="list-group-item list-group-item-action py-2 ripple bg-light"
                                        aria-current="true" type="submit">New Event</button>
                                    <button name="newPost"
                                        class="list-group-item list-group-item-action py-2 ripple bg-light"
                                        aria-current="true" type="submit">New Post</button>
                                    <button name="leaveGroup"
                                        class="list-group-item list-group-item-action py-2 ripple bg-light"
                                        aria-current="true" type="submit">Leave Group</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Group Description</div>
                    <div class="card-body">
                        <p style="text-align: center">{{group.group_desc}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">Group Events</div>
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if groupEvents %}
                            {% for event in groupEvents %}
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-md-6">
                                    <div class="card" style="border: solid blue">
                                        <div class="d-flex justify-content-between p-2 px-3">
                                            <!--Top Segment: Profile Pic, Username, Date Created-->
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="{{profile.avatar.url}}" width="50" class="rounded-circle" />
                                                <div class="d-flex flex-column ml-2"><span
                                                        class="font-weight-bold">{{event.user}}</span>
                                                    <small class="text-primary">{{event.address}}</small>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row mt-1 ellipsis"><small class="mr-2">Created on:
                                                    {{event.created_on}}</small> <i class="fa fa-ellipsis-h"></i></div>
                                        </div>
                                        <!--Group Event Banner Image-->
                                        {% if event.banner.url != None %}
                                        <img src="{{event.banner.url}}" class="img-fluid" />
                                        {% else %}
                                        <img src="/media/publicevents_banner/default.jpeg" class="img-fluid" />
                                        {% endif %}

                                        <!-- Bottom Segment: #ofComments, Share, Post buttons, etc -->
                                        <div class="p-2">
                                            <!--Event Description-->
                                            <p class="text-justify"><strong>On {{event.datetime}}</strong></p>
                                            <hr />
                                            <p class="text-justify">{{event.desc}}</p>
                                            <!--Separator(hr)-->
                                            <hr />
                                            <div class="d-flex justify-content-between align-items-center">
                                                <!--<div class="d-flex flex-row icons d-flex align-items-center"><i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i></div> -->

                                                <!--Stats buttons etc-->
                                                <form method="POST" style="">
                                                    {% csrf_token %}
                                                    <a href="{% url 'viewGroupEvent' group_id=group.group_id event_id=event.event_id %}"
                                                        name="eventDetails" value="{{event.event_id}}"
                                                        class="btn btn-primary pt-2">Event
                                                        Details</a>
                                                </form>
                                                <!--<div class="d-flex flex-row muted-color"><span>2 comments</span> <span class="ml-2">Share</span></div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div style="display: flex; justify-content: space-between;" class="bg-light">
                        <span class="mx-4">Group Posts</span>
                        <button style="text-align: right;" class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGroupPost" aria-expanded="false" aria-controls="collapseExample">
                            {% load static %}
                            <img src="{% static 'media/enlarge.png' %}" width="25" height="25" alt="martin" />
                        </button>
                    </div>
                    <div class="collapse card-body" id="collapseGroupPost">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if groupPosts %} {% for post in groupPosts %}
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-md-6">
                                    <div class="card" style="border: solid blue">
                                        <div class="d-flex justify-content-between p-2 px-3">
                                            <!--Top Segment: Profile Pic, Username, Date Created-->
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="{{profile.avatar.url}}" width="50" class="rounded-circle" />
                                                <div class="d-flex flex-column ml-2"><span
                                                        class="font-weight-bold">{{post.user}}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row mt-1 ellipsis"><small class="mr-2">Created on:
                                                    {{post.created_on}}</small> <i class="fa fa-ellipsis-h"></i></div>
                                        </div>
                                        <!--Post Banner Image-->
                                        <!--<img src="https://i.imgur.com/xhzhaGA.jpg" class="img-fluid" />-->

                                        <!-- Bottom Segment: #ofComments, Share, Post buttons, etc -->
                                        <hr />
                                        <div class="p-2">
                                            <!--Event Description-->
                                            <p class="p-2 text-justify">{{post.post_content}}</p>
                                            <!--Separator(hr)-->
                                            <hr />
                                            <div class="d-flex justify-content-between align-items-center">
                                                <!--<div class="d-flex flex-row icons d-flex align-items-center"><i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i></div> -->

                                                <!--Stats buttons etc-->
                                                <form method="POST" style="">
                                                    {% csrf_token %}
                                                    <a href="{% url 'viewGroupPost' group_id=group.group_id post_id=post.post_id %}"
                                                        name="postComment" style="" value="{{post.post_id}}"
                                                        class="btn btn-primary pt-2">View
                                                        Discussion</a>
                                                </form>
                                                <!--<div class="d-flex flex-row muted-color"><span>2 comments</span> <span class="ml-2">Share</span></div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            {% endfor %} {% else %}
                            <!--<p>No Posts</p>-->
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div style="display: flex; justify-content: space-between;" class="bg-light">
                        <span class="mx-4">Group Members</span>
                        <button style="text-align: right;" class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGroupMmebers" aria-expanded="false"
                            aria-controls="collapseExample">
                            {% load static %}
                            <img src="{% static 'media/enlarge.png' %}" width="25" height="25" alt="martin" />
                        </button>
                    </div>
                    <div class="collapse card-body" id="collapseGroupMmebers">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if member_list %}
                            <ul>
                                <table style="text-align: center">
                                    <tr>
                                        <th>user ID</th>
                                        <th>username</th>
                                    </tr>
                                    {% for member in member_list %}
                                    <tr>
                                        <td>{{member.member_id.id}}</td>
                                        <td>
                                            <a
                                                href="{% url 'profileView' profile_id=member.member_id.id %}">{{member.member_id}}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </ul>
                            {% else %}
                            <p>No members error; there should at least be 0 member</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>

</html>