   {% load static %}
   {% include "header.html" %}
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/home.js'%}" defer></script>
</head>

<body>
    {% include "general_navbar.html" %}
    <h1>This is the homepage</h1>
 
   

    <section aria-label="Photos">
        <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
            <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="https://www.dogsensepa.com/sites/default/files/styles/large/public/2019-12/image1%20%2891%29.png?itok=TslytPOT" alt="Dogs">
                </li>
                <li class="slide">
                    <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/10992/b8b237ee-7cfe-4eab-b79b-dac389707899.jpg" alt="Kids">
                </li>
                <li class="slide">
                    <img src="http://cdn.cdnparenting.com/articles/2018/04/96524833-H-1024x700.webp" alt="Kids">
                </li>

            </ul>
        </div>
    </section>
   
    

     {% include "footer.html" %}
</body>
<html></html>

<!-- 
<body>
    {% block content %}
    <h1>Homepage</h1>
    {% csrf_token %} {% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
    <p>ID: {{userID}}</p>
    <p>name: {{fname}} {{lname}}</p>
    <p>email: {{email}}</p>
    <p>gender: {{gender}}</p>
    <p>Your dob: {{ dob }}</p>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %}
    <form action="#" method="get">
        <input type="submit" class="btn" value="Click" name="logoutBTN" />
    </form>
    {% endblock %}
</body> -->
