{% load static %}
{% include "header.html" %}

<head>
    <meta charset="UTF-8" />
    <title>Register for PlayDate!</title>
    
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <script src="{% static 'js/register.js' %}" defer="true"></script>
</head>

<body>
    {% include "general_navbar.html" %}
    <div class="container">
    {% block content %}
    <form method="POST" class="register m-10 p-10">
        <h1>PlayDate Sign-Up</h1>
        {% csrf_token %}{{user_form.as_p}} {{accountForm.as_p}}
        <input type="submit" value="Sign Up" />
    </form>
    {% endblock %}
    </div>
</body>

</html>