<!-- {% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>create event</title>
</head>
<body>
        {% block content %} 
        
        {% endblock %} -->
        <br><br><br><br><br><br><br><br><br><br>
        <h1>create event</h1>
        <form action="/createvent/" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
        </form>
<!-- </body>
</html> -->


