{% include "header.html" %}
<body>
    {% include "general_navbar.html" %}

        <!-- <h1>Search Page</h1>

        <br/>
        <form action="{% url 'events' %}" method="GET" value="{{request.GET.q}}"> 
            <input type="text" name="q" value="{{request.GET.q}}" placeholder="city"/>
            <input type="submit" name="submit" value="Search"/>
        </form> -->
        <div class="container"></div>
        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        
        
            <div class="result-body">
                <div class="table-responsive">
                    <table class="table widget-26">
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td>
                                    <div class="event_name">
                                        {{result.name}}
                                        <p class="m-0"><a href={{result.url}}  class="url">Register here</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="widget">
                
                                        <p class="text-muted m-0"> <span class="location"> {{result.address.street}}, {{result.address.city}}, {{result.address.state}}, {{result.address.country}} - {{result.address.zipcode}}</span></p>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        
            {% else %}
            No events found
            {% endif %}
        {% endif %}
    </div>
    


    {% include "footer.html" %}
</body>
